<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css"> 
</head>
<style>
  .admin-box {
    color: white;
    padding: 20px;
  }
</style>

<body>
    
    <div class="D_container">
        <br><br><br>
       
        <div class="D_nav"><center>Welcome to exam application system </center></div>

        <div class="D_flex">
            <div class="side1">
              <center> <h2>Admin</h2></center> 
                <ul>
                    <a href="/adinfo"><li>Admin</li>    </a>
                    <a href="/course"><li>subject</li> </a>
                    <a href="/exam"> <li>Exam</li> </a>
                  <a href=""> <li>Question</li> </a>
                  <a href=""> <li>schedule</li> </a>
                  <a href="/dashBoard"> <li>Dashboard</li> </a>
                </ul>
                
            </div>
            <div class="side2">
               
            </div>
        </div>



        
    </div>
</body>
</html>