<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Course</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>


    <div class="D_container">
        <br><br><br>
       
         <div class="D_nav"><center>Welcome to exam application system </center></div>

        <div class="D_flex">
                <div class="side1">
                <center> <h2>Admin</h2></center> 
                    <ul>
                        <a href=""><li>Admin</li>    </a>
                        <a href="/course"><li>subject</li> </a>
                        <a href=""> <li>Exam</li> </a>
                    <a href=""> <li>Question</li> </a>
                    <a href=""> <li>schedule</li> </a>
                    </ul>
                    
                </div>
                    <div class="side2">
                        <div class="toshowCourse">
                            <div class="c1">
                               
                                    <div class="course-form-container">
                                       
                                            <h2>Add New Course</h2>
                                            <form action="/addCourse" method="POST">
                                            <label for="cname">Course Name</label>
                                            <input type="text" id="cname" name="cname" placeholder="Enter course name" required>
                                            <button type="submit">Add Course</button>
                                        </div>
                                    
                                </form>
                                
                            </div>
                        <div class="c2">
                             hii

                        </div>
                        </div>
                    </div>
        </div>



        
    </div>
  
</body>
</html>
