<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="style.css">
</head>
<body>


    <div class="background">
    <div class="login-box">
      <h1>Welcome to the Exam Portal</h1>
      <p>Choose your role to continue</p>
      <div class="buttons">
        <a href="/adminlogin" class="btn">Admin Login</a>
        <a href="/slogin" class="btn">Student Login</a>
      </div>
    </div>
  </div>
    
</body>
</html>