<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css"> 
</head>
<body>
    
    <div class="D_container">
        <br><br><br>
       
        <div class="D_nav"><center>Welcome to exam application system </center></div>

        <div class="D_flex">
            <div class="side1">
              <center> <h2>Admin</h2></center> 
                <ul>
                    <a href="/adinfo"><li>Admin</li>    </a>
                    <a href="/course"><li>subject</li> </a>
                    <a href=""> <li>Exam</li> </a>
                  <a href="/question"> <li>Question</li> </a>
                  <a href="/schedule"> <li>schedule</li> </a>
                </ul>
                
            </div>
        <div class="side2">
          <div class="flexdiv">
        <div class="admin-title">Admin Information</div>
<table class="admin-table">
  <tr>
    <th>Admin ID</th>
    <th>Admin Name</th>
    <th>Admin Password</th>
  </tr>
 <tr>
  <td><%= admin.adm_id %></td>
  <td><%= admin.aname %></td>
  <td><%= admin.apassword %></td>
</tr>

</table>
     </div>
    </div>   

  
</div>
 

        </div>
        </div>
         


        
    </div>
</body>
</html>